/* ANSWERS - Full credit to code.org for task */
  
p{
  font-size:24px;
  color:black;
}
/* reorganized the css code to color on bottom and fixed code for fontsize by including the dash from frontsize to > font-size */

h1 {
  font-weight: bold;
}



